.left{
    float: left;
}
.right{
    float: right;
}
.re
{
    position: relative;
}
.auto{
    margin: auto;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.block{
    display: block;
}
.flex{
    display: flex;
}
.flex_1{
    flex: 1;
}
.flex_wrap{
    flex-wrap: wrap;
}
.none{
    margin: 0;
    padding: 0;
}
.link_none{
    text-decoration: none;
}
.ul_none{
    list-style-type: none;
}
.height_100{
    height: 100%;
}
.width_100{
    width: 100%;
}
.text_cen{
    text-align: center;
}
.jus-space-between{
    justify-content: space-between;
}
.jus-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.color_black{
    color: black;
}
.color_white{
    color: white;
}
.cle{
    clear: both;
}
.common_link{
    color: black;
}
.common_link:hover{
    color: #23527c;
    text-decoration: underline;
}