body{

}
/* header_bg of style  start */
header .header_bg{
    height: 160px;
    background: url("../images/pagebg.jpg") no-repeat;
    background-size: cover;
}
header .logo{
    width: 95%;
    max-width: 554px;
    margin-top: 22px;
}
header .flex_right{
    width: 450px;
    height: 100%;
}

@media (max-width: 1000px) {
    header .flex_right{
        display: none;
    }
}

header .header_link{
    margin-top: 10px;
    margin-right: 50px;
}
header .header_link .link_none{
    font-size: 13px;
}
header .header_link .link_none:hover,
header .header_link .link_none:focus{
    color: #23527c;
    text-decoration: underline;
}
header .flex_right form{
    margin-top: 20px;
}
header .flex_right .input_text,
#main form .input_text{
    width: 210px;
    height: 26px;
    border: none;
    background: url("../images/search.png") no-repeat;
    vertical-align: middle;
    outline: none;
    padding-left: 5px;
}
header .flex_right .input_btn,
#main form .input_btn{
    width: 32px;
    height: 26px;
    margin-left: 5px;
    background: url("../images/search.png") right;
    border: none;
    cursor: pointer;
}
header .flex_right .search,
#main form .search{
    width: 294px;
    height: 26px;
    margin-left: 10px;
}
header .flex_right img,
#main form img{
    margin-top: 13px;
}
/* header_bg of style  end */

/* nav of style start */

nav{
    height: 50px;
    background: #4DA8a1;
}
nav .ul_none .flex_1{
    height: 50px;
    line-height: 50px;
    background: #4DA8a1;
}
nav  .ul_none .flex_1>.link_none{
    font-size: 20px;
    color: white;
}
nav .nav_hide{
    z-index: 999;
    height: 250px;
    background: #4DA8a1;
}
@media (max-width: 1000px) {
    nav .ul_none .flex_1{
        width: 20%;
        height: 50px;
        border: solid 1px #499790;
        box-sizing: border-box;
    }
    header>nav{
        height: 100px;
    }
    nav .flex{
        display: block;
    }
    nav  .ul_none .flex_1>.link_none{
        font-size: 14px;
        color: white;
    }
    nav .nav_hide{
        position: relative;
        z-index: 999;
        height: auto;
        background: #4DA8a1;
    }
}
.nav_hide ul li a{
    font-size: 15px;
    line-height: 30px;
    color: white;
}
.nav_hide ul li a:hover{
    text-decoration: underline;
}
nav  .ul_none .flex_1.show{
    background: #257570;
}
.nav_hide ul.show{
    height: auto;
    background: #257570;
}
@media (max-width: 1000px) {
    .nav_hide ul.show{
        height: auto;
        background: #50b0a9;
    }
    .nav_hide ul.show li{
        border-bottom: solid 1px #bbc8c8;
    }
}
.nav_hide ul.hide{
    height: 0;
    overflow: hidden;
}
/* nav of style end */
/* main of style start */
#main{
    height: 100px;
}
#main form{
    padding: 5px 0 5px 0;
}
@media (min-width: 1000px) {
    #main form{
        display: none;
    }
}

#banner .ban_bg{
    height: 370px;
    position: absolute;
    z-index: 0;
    background: url("../images/636287247382744050.jpg") center bottom no-repeat;
    background-size: cover;
    opacity: 0.3;
}
#banner .mask{
    position: absolute;
    z-index: 0;
    height: 370px;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}
#banner>.auto{
    height: 370px;
    overflow: hidden;
}
#banner ul.re{
    width: 400%;
}
#banner .move_btn,
.row1 .move_btn{
    position: absolute;
    top: 50%;
    z-index: 997;
    height: 60px;
    transform: translateY(-50%);
}
#banner .move_btn a,
.row1 .move_btn a{
    width: 32px;
    height: 60px;
    background: url("../images/bg_24.png") 0 -65px;
    margin: 0 0 0 10px;
    opacity: 0;
    transition: 500ms;
}
#banner:hover .move_btn a,
.row1 .row1_left:hover .move_btn a{
    opacity: 1;
}
#banner .move_btn a:hover,
.row1 .move_btn a:hover{
    background-position-y: 0;
}
#banner .move_btn .right_move,
.row1 .move_btn .right_move{
    background-position: -35px -65px;
    margin: 0 10px 0 0;
}
#banner .sele_btn{
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    height: 18px;
    padding-left: calc(50% - 16px);
}
#banner .sele_btn a{
    width: 10px;
    height: 10px;
    background: url("../images/switch.png");
    border-radius: 100%;
    margin: 0 3px 0 3px;
}
#banner .sele_btn a.xz{
    background-position-x: -10px;
}
@media (max-width: 1000px) {
    #banner>.auto,#banner .ban_bg,#banner .mask{
        height: 35vh;
    }
    #banner .move_btn a{
        height: 0;
        opacity: 0;
    }
    #banner:hover .move_btn a{
        opacity: 0;
    }
    #banner .move_btn a:hover{
        opacity: 0;
        background-position-y: -65px;
    }
}
.row{
    height: auto;
}
.row .title{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: #ccc solid 1px;
    font-weight: bold;
}
.row1_left{
    flex: 3;
    margin-right: 2%;
    overflow: hidden;
}
@media (max-width: 1200px) {
    .row1_left{
        display: none;
    }
}
.row1_left .carousel{
    height: 300px;
}
.row1_left .carousel .img_ul li{
    position: absolute;
    top: 0;
    opacity: 0;
}
.row1_left .carousel .text_ul{
    height: 35px;
    border: solid 1px #ccc;
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
}
.row1_left .carousel .text_ul li{
    line-height: 35px;
    overflow: hidden;
    opacity: 0;
}
.row1_left .carousel .img_ul li:first-child,
.row1_left .carousel .text_ul li:first-child{
    opacity: 1;
}
.row1_left .carousel .text_ul li a{
    line-height: 30px;
}
.row1_left .carousel .text_ul li a:hover{
    color: #23527c;
    text-decoration: underline;
}
.row1_right{
    flex: 7;
    min-height: 320px;
}
.row1_right .title>a{
    padding: 8px;
}
.row1_right .xz{
    border-bottom: 2px solid #4DA8a1;
}
.row1_right .content>div .box{
    width: 30%;
    min-width: 350px;
    max-width: 30%;
    flex: 1;
    padding: 10px;
    border: #ccc 1px solid;
}
.row1_right .content>div .box:nth-child(n+1){
    margin-left: 20px;
}
@media (min-width: 1200px) {
    .row1_right .content>div .box{
        max-width: 38%;
        flex: 1;
        border: #ccc 1px solid;
    }
}
@media (min-width: 800px ) and (max-width: 1200px){
    .row1_right .content>div .box{
        max-width: 42%;
        flex: 1;
        padding: 10px;
        border: #ccc 1px solid;
    }
    .row1_right .content>div .box:nth-child(n+1){
        margin-left: 23px;
    }
    .row1_right .content>div .box:nth-child(n-1) {
        margin-right: 23px;
    }
}
.row1_right .content>div .box:nth-child(-n+2){
    border-top: solid 2px #4DA8a1;
}
.row1_right .content>div img{
    width: 124px;
    height: 76.5px;
}
.row1_right .content>div .text{
    font-size: 13px;
    line-height: 20px;
    margin-left: 10px;
}
@media (max-width: 850px) {
    .row1_right .content>div .box{
        width: 30%;
        max-width: 100%;
        height: auto;
        flex: 1;
        padding: 10px;
        border: solid 1px #ccc;
        box-sizing: border-box;
    }
    .row1_right .content>div .box:nth-child(n+1) {
        margin: 0px;
    }
    .row1_right .content>div .box:nth-child(n+1){
        border-top: solid 2px #4DA8a1;
        margin-bottom: 10px;
    }
}
@media (min-width: 1200px) {
    .row1_right .content>div .text{
        width: 170px
    }
}
@media (max-width: 1200px) {
    .row1_right .content>div .box{
        border-top: solid 2px #4DA8a1;
    }
}
.row1_right .content .re>.flex{
    /*position: absolute;*/
    top: 0;
}
.row3{
    margin-top: 5px;
}
.row3 .box{
    width: 33%;
    padding: 0 15px;
    box-sizing: border-box;
}
.row3 .box a:hover{
    color: #23527c;
    text-decoration: underline;
}
.row3 .box_ul a,.row3 .box_ul li{
   font-size: 13px;
}
.row3 .box_ul li{
    background-image: url("../images/dot.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 25px;
    margin-bottom: 10px;
}
.row3 .min_box{
    width: 370px;
    height: 102px;
    border-bottom: solid 2px #ccc;
    margin-bottom: 10px;
}
.row3 .min_box img{
    width: 120px;
    height: 90px;
}
.row3 .min_box a{
    margin-left: 15px;
    width: 204px;
}
@media (max-width: 1200px) and (min-width: 800px){
    .row3 .min_box a{
        width: 100%
    }
    .row3 .min_box img{
        margin-left: 50%;
        transform: translateX(-100%);
    }
    .row3 .min_box{
        height: 120px;
    }
}
@media (min-width: 800px) {
    .row3 .box_ul a{
        width: 200px;
        height: 17px;
        overflow: hidden;
    }
}
@media (max-width: 800px) {
    .row3 .box{
        width: 100%;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .row3 .min_box{
        width: 100%
    }
}
/* main of style end */