/* header_bg of style  start */
header{
    /*height: 210px;*/
}
header .header_bg{
    height: 160px;
    background: url("../images/pagebg.jpg") no-repeat;
    background-size: cover;
}
header .auto{
    width: 100%;
    max-width: 1200px;
}
header .logo{
    width: 95%;
    max-width: 554px;
    margin-top: 22px;
}
header .flex_right{
    width: 450px;
    height: 100%;
}
@media (max-width: 1000px) {
    header .flex_right{
        display: none;
    }
}
header .header_link{
    margin-top: 10px;
    margin-right: 50px;
}
header .header_link .link_none{
    font-size: 13px;
}
header .header_link .link_none:hover,
header .header_link .link_none:focus{
    color: #23527c;
    text-decoration: underline;
}
header .flex_right form{
    margin-top: 20px;
}
header .flex_right .input_text{
    width: 210px;
    height: 26px;
    border: none;
    background: url("../images/search.png") no-repeat;
    vertical-align: middle;
    outline: none;
    padding-left: 5px;
}
header .flex_right .input_btn{
    width: 32px;
    height: 26px;
    margin-left: 5px;
    background: url("../images/search.png") right;
    border: none;
    cursor: pointer;
}
header .flex_right .search{
    width: 294px;
    height: 26px;
    margin-left: 10px;
}
header .flex_right img{
    margin-top: 13px;
}
/* header_bg of style  end */

/* nav of style start */

nav{
    height: 50px;
    background: #4DA8a1;
}
nav .nav_show{
    width: 100%;
    max-width: 1200px;
}
nav .ul_none .flex_1{
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: #4DA8a1;
}
nav  .ul_none .flex_1>.link_none{
    font-size: 20px;
    color: white;
}
nav .nav_hide{
    position: relative;
    z-index: 999;
    height: 250px;
    background: #4DA8a1;
}
@media (max-width: 1000px) {
    nav .ul_none .flex_1{
        width: 20%;
        height: 50px;
        border: solid 1px #499790;
        box-sizing: border-box;
    }
    header>nav{
        height: 100px;
    }
    nav .flex{
        display: block;
    }
    nav  .ul_none .flex_1>.link_none{
        font-size: 14px;
        color: white;
    }
    nav .nav_hide{
        position: relative;
        z-index: 999;
        height: auto;
        background: #4DA8a1;
    }
}
.nav_hide ul li{
    text-align: center;
    /*height: 30px;*/
}
.nav_hide ul li a{
    font-size: 15px;
    line-height: 30px;
    color: white;
}
.nav_hide ul li a:hover{
    text-decoration: underline;
}
nav  .ul_none .flex_1.show{
    background: #257570;
}
.nav_hide ul.show{
    height: auto;
    background: #257570;
}
@media (max-width: 1000px) {
    .nav_hide ul.show{
        height: auto;
        background: #50b0a9;
    }
    .nav_hide ul.show li{
        border-bottom: solid 1px #bbc8c8;
    }
}
.nav_hide ul.hide{
    height: 0;
    overflow: hidden;
}
    /* nav of style end */
/* main of style start */
#main{
    height: 100px;
}

#main form{
    padding: 5px 0 5px 0;
}
#main form .input_text{
    width: 210px;
    height: 26px;
    border: none;
    background: url("../images/search.png") no-repeat;
    vertical-align: middle;
    outline: none;
    padding-left: 5px;
}
#main form .input_btn{
    width: 32px;
    height: 26px;
    margin-left: 5px;
    background: url("../images/search.png") right;
    border: none;
    cursor: pointer;
}
#main form .search{
    width: 294px;
    height: 26px;
    margin-left: 10px;
}
#main form img{
    margin-top: 13px;
}

@media (min-width: 1000px) {
    #main form{
        display: none;
    }
}

#banner .ban_bg{
    height: 370px;
    position: absolute;
    z-index: 0;
    background: url("../images/636287247382744050.jpg") center bottom no-repeat;
    background-size: cover;
    opacity: 0.3;
}
#banner .mask{
    position: absolute;
    z-index: 0;
    height: 370px;
    background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
}
#banner>.auto{
    max-width: 1200px;
    height: 370px;
    overflow: hidden;
}
#banner ul.re{
    width: 400%;
}
#banner .move_btn{
    position: absolute;
    top: 50%;
    z-index: 997;
    height: 60px;
    transform: translateY(-50%);
}
#banner .move_btn a{
    width: 32px;
    height: 60px;
    background: url("../images/bg_24.png") 0 -65px;
    margin: 0 0 0 10px;
    opacity: 0;
    transition: 500ms;
}
#banner:hover .move_btn a{
    opacity: 1;
}
#banner .move_btn a:hover{
    background-position-y: 0;
}
#banner .move_btn .right_move{
    background-position: -35px -65px;
    margin: 0 10px 0 0;
}
#banner .sele_btn{
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    height: 18px;
    justify-content: center;
}
#banner .sele_btn a{
    width: 10px;
    height: 10px;
    background: url("../images/switch.png");
    border-radius: 100%;
    margin: 0 3px 0 3px;
}
#banner .sele_btn a.xz{
    background-position-x: -10px;
}
@media (max-width: 1000px) {
    #banner>.auto,#banner .ban_bg,#banner .mask{
        height: 35vh;
    }
    #banner .move_btn a{
        height: 0;
        opacity: 0;
    }
    #banner:hover .move_btn a{
        opacity: 0;
    }
    #banner .move_btn a:hover{
        opacity: 0;
        background-position-y: -65px;
    }
}
/* main of style end */
